# Created by .ignore support plugin (hsz.mobi)
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/sbt.xml
.idea/what-i-have-learned.iml
.idea/workspace.xml
Cons$.class
Cons.class
Either$$anonfun$map2$1$$anonfun$apply$1.class
Either$$anonfun$map2$1.class
Either$class.class
Either.class
Empty$.class
Empty.class
Left$.class
Left.class
Right$.class
Right.class
Stream$$anonfun$4.class
Stream$$anonfun$6.class
Stream$$anonfun$append$1$$anonfun$apply$3.class
Stream$$anonfun$append$1$$anonfun$apply$4.class
Stream$$anonfun$append$1.class
Stream$$anonfun$apply$4.class
Stream$$anonfun$apply$5.class
Stream$$anonfun$apply$6.class
Stream$$anonfun$cons$1.class
Stream$$anonfun$cons$2.class
Stream$$anonfun$constant$1.class
Stream$$anonfun$exists$1.class
Stream$$anonfun$exists$2.class
Stream$$anonfun$fibs$1.class
Stream$$anonfun$filter$1.class
Stream$$anonfun$filter$2$$anonfun$apply$2.class
Stream$$anonfun$filter$2$$anonfun$apply$3.class
Stream$$anonfun$filter$2.class
Stream$$anonfun$flatMap$1.class
Stream$$anonfun$flatMap$2.class
Stream$$anonfun$foldRight$1.class
Stream$$anonfun$forAll$1.class
Stream$$anonfun$forAll$2.class
Stream$$anonfun$from$1.class
Stream$$anonfun$headOption$1.class
Stream$$anonfun$headOption$2.class
Stream$$anonfun$map$1.class
Stream$$anonfun$scanRight$1.class
Stream$$anonfun$scanRight$2$$anonfun$5.class
Stream$$anonfun$scanRight$2$$anonfun$apply$1.class
Stream$$anonfun$scanRight$2$$anonfun$apply$2.class
Stream$$anonfun$scanRight$2.class
Stream$$anonfun$take$1.class
Stream$$anonfun$takeWhile$1.class
Stream$$anonfun$unfold$1.class
Stream$$anonfun$unfold$2.class
Stream$$anonfun$zipAll$1.class
Stream$$anonfun$zipWith$1.class
Stream$$anonfun$zipWithAll$1.class
Stream$.class
Stream$class.class
Stream.class
research/
test$$anonfun$1.class
test$$anonfun$10.class
test$$anonfun$2.class
test$$anonfun$3.class
test$$anonfun$4.class
test$$anonfun$5.class
test$$anonfun$6.class
test$$anonfun$7.class
test$$anonfun$8.class
test$$anonfun$9.class
test$$anonfun$map2$2$$anonfun$apply$7.class
test$$anonfun$map2$2.class
test$$anonfun$traverse$1$$anonfun$apply$6.class
test$$anonfun$traverse$1.class
test$.class
test$delayedInit$body.class
test.class
